body {
  a {
    &:hover {
      color: #ffb822;
    }
  }

  .container {
    max-width: 1360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.mainContainer {
  max-width: 1300px;
  margin: 0 auto;
}


button, html [type="button"] {
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 5px;
  border-width: 0px;
  background-color: #fda50f;
  cursor: pointer;
}

/**----------------------------------------------          Header            --------------------------------------------------**/
.header {
  height: 140px;
  background-color: white;

  .top {
    background-color: #005332;

    .subTop {
      height: 60px;
    }

    .item {
      display: flex;
      color: white;
      margin-right: 30px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    .right {
      .login {
        height: 40px;
        padding-right: 25px;
        padding-left: 25px;
        background-color: #005332;
        border-radius: 40px;
      }
    }
  }
}


/**----------------------------------------------          Header  End           --------------------------------------------------**/


/**----------------------------------------------          Home            --------------------------------------------------**/

.home {
  .slideHeight {
    height: 425px;

    .content {
      height: 425px;
      display: flex;
      align-items: center;

      .btn {
        height: 40px;
        width: 150px;
        border-radius: 20px;
        background-color: #005332;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e1e1e1;
        font-family: "Montserrat Medium";
        cursor: pointer;
      }
    }
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;;
  }

  .box {
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
    border-radius: 10px;

  }
}


/**----------------------------------------------          Home End         --------------------------------------------------**/

/**----------------------------------------------          News         --------------------------------------------------**/

.introduction {
  .slideHeight {
    height: 425px;
  }
  .container{
    .box{
      height: 700px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
      border-radius: 10px;

    }
  }
}


/**----------------------------------------------          News End         --------------------------------------------------**/

/**----------------------------------------------Footer--------------------------------------------------**/

footer {
  .widget {
    color: #ffffff;

    h3 {
      color: #ffffff;
      position: relative;

      span {
        width: 100px;
        height: 2px;
        background-color: #fff;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    p {

    }
  }

  .desc {
    font-family: "Montserrat Medium";
    font-size: 18px;
    border: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    padding-bottom: 15px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    color: #fff;
  }

  .title {
    color: #e1e1e1;
    margin-top: 20px;
  }

  .links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #e1e1e1;
  }

  .contact {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .cotanct {
    margin: 0px;
    color: #e1e1e1;
  }
}

/**----------------------------------------------Footer End--------------------------------------------------**/